body {
  font-family: 'Inconsolata', monospace;
  margin: 4px;
  overflow: hidden;
}

h1 {
  display: inline-block;
}

button {
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  color: white;
  padding: 5px 5px;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.clearer {
  background-color: rgb(201, 47, 20);
  border: 2px solid rgb(201, 47, 20);
  border-radius: 5px;
  color: white;
  padding: 5px 5px;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.clearer:hover {
  background-color: rgb(233, 80, 9);
  border: 2px solid rgb(233, 80, 9);
}

button:hover {
  background-color: #0C6F10;
  border: 2px solid #0C6F10;
}

button:active {
  background-color: black;
  border: 2px solid black;
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  display: inline-block;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}