body {
  margin: 0;
  overflow: hidden;
}

div {
  position: absolute;
  background-color: transparent;
  color: white;
  mix-blend-mode: exclusion;
  font-family: Roboto;
  top: 15px;
  left: 10px;
}

canvas {
  position: relative;
}