body {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#canvasDiv {
  position: absolute;
}

figure {
  display: inline-block;
  margin: 10px;
}

.horzSection {
  margin: 0;
  overflow: hidden;
}

.backText {
  padding-left: 2%;
  padding-right: 2%;
  overflow: auto;
}

#graphDiv {
  display: inline-block grid;
  float: left;
  overflow: auto;
}

#inputDiv {
  display: inline-block;
  background-color: #F5E4D7;
  overflow-y: scroll;
  padding: 10px;
}

.premadeChoices {
  overflow-y: scroll;
  background-color: #BFD1E5;
  padding: 10px;

}

.inputText {
  width: 40%;
}

.mainStyle {
  position: relative;
  padding-top: 20px;
  padding-right: 20px;
  vertical-align: text-top;
  display: grid;
}

.interactiveSection {
  position: relative;
}